
# cloudflare_account_id = "abcd1234deadbeef"
# cloudflare_zone_id = "aaabbbcccddd"
# cloudflare_zone_name = "example.com"
# demeter_providers = [
#   {
#     name   = "blinklabs-us"
#     tunnel = {
#       enabled = true
#       secret  = "<REDACTED>"
#     }
#     cardano_node = {
#       enabled = true
#       address = "blinklabs-us-cardano-node.blinklabs.io"
#     }
#     kupo = {
#       enabled = true
#       address = "blinklabs-us-kupo.blinklabs.io"
#     }
#     ogmios = {
#       enabled = true
#       address = "blinklabs-us-ogmios.blinklabs.io"
#     }
#   },
# ]
