
# cloudflare_account_id = "abcd1234deadbeef"
# cloudflare_zone_id = "aaabbbcccddd"
# cloudflare_zone_name = "example.com"
# cloudflare_tunnels = [{ name = "my", secret = "supersecret" }]
# cloudflare_cardano_node_origins = [{ name = "foo", address = "foo.bar.baz" }]
# cloudflare_kupo_origins = [{ name = "foo", address = "foo.bar.baz" }]
# cloudflare_ogmios_origins = [{ name = "foo", address = "foo.bar.baz" }]
