# cloud_provider = "aws"
# cloudflare_token = "your_token"
# k8s_context = "some-context"
# dmtrd_cluster_id = "your-cluster-id"
# dmtrd_kafka_username = "your-username"
# dmtrd_kafka_password = "your-password"
# dmtrd_consumer_name = "your-consumer-name"
# dmtrd_broker_urls = "redpanda-0.domain.name,redpanda-1.domain.name,redpanda-2.domain.name"
