# This file is a global configuration and is shared between the various stages
# in this repository.

# Configuring the cloud provider allows for simplified bootstrapping and storage of Terraform state for later stages.
# Supported cloud providers are: aws, gcp, k3d(default)
cloud_provider: aws

cloudflare_token: <token>

# The cloudflared_token is stored in the global Terraform state and is required for stage3 deployment. It is a base64 token.
cloudflared_token: eyJ...

# Define project id for GCP. This is required for bootstrapping and storing Terraform state.
terraform_project_id: <project_id>

# The terraform state bucket name and location. These can be created by bootstrap if not preconfigured.
terraform_state_bucket: pre-configured-bucket
terraform_state_region: eu-central-1

# GCP specific configuration
terraform_state_kmskey: <kms_key_id>

# Overrides for defaults for configuring a cluster using bootstrap and stage0/aws-terraform in AWS. These override the defaults
# in common/defaults.yaml
azs: [eu-central-1b, eu-central-1c]
vpc_cidr: 10.16.0.0/16
region: eu-central-1

dmtrd_cluster_id: <cluster_id>
dmtrd_broker_urls: <broker_url>
dmtrd_kafka_topic_events: <topic_events>
dmtrd_kafka_topic_usage: <topic_usage>
dmtrd_kafka_username: <kafka_username>
dmtrd_kafka_password: <kafka_password>

# the consumer name has a final segment where you can put anything you want (useful if you need to reprocess the whole queue from start)
dmtrd_consumer_name: <consumer_name>
dmtrd_consumer_cache_name: <consumer_cache_name>
dmtrd_consumer_monitor_name: <consumer_monitor_name>
