# cloud_provider = "aws"
# cloudflared_token = "eyJ..."
# cluster_name = "dmtr-cluster"
# provider_name = "some-provider"
# k8s_context = "some-context"
# enable_cardano_node = false
# enable_cardano_ogmios = false
# enable_cardano_kupo = false
# enable_cardano_utxorpc = false
